@model IEnumerable<WebAppLocalSIS2420.Models.Alquileres>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Registro de Alquiler</h1>

<p>
    <a asp-action="Create">Registrar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlquilar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adelanto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlquilar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adelanto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlquiler">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlquiler">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlquiler">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
